In [1]:
import pandas as pd

### data preprocessing

In [2]:
path="C:/Users/SALMAN MEMON/Desktop/funding.csv"
data=pd.read_csv(path,sep=',')

In [3]:
data.shape

(2372, 10)

In [6]:
data.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN

In [7]:
data=data['AmountInUSD']

In [8]:
data.shape

(2372,)

In [10]:
data.head()

0    1,300,000
1          NaN
2          NaN
3      500,000
4      850,000
Name: AmountInUSD, dtype: object

In [11]:
data.dropna(inplace=True)

In [12]:
data.head()

0    1,300,000
3      500,000
4      850,000
5    1,000,000
6    2,600,000
Name: AmountInUSD, dtype: object

In [19]:
data=data.str.replace(',','')

In [20]:
data=pd.to_numeric(data)

In [21]:
data.head()

0    1300000
3     500000
4     850000
5    1000000
6    2600000
Name: AmountInUSD, dtype: int64

In [23]:
pop=data.copy()
pop_mean=pop.mean()
pop_max=pop.max()
pop_min=pop.min()
print('pop_mean:',pop_mean)
print('pop_max:',pop_max)
print('pop_min:',pop_min)

pop_mean: 12031073.099016393
pop_max: 1400000000
pop_min: 16000

### Sampling method->simple random sample

In [75]:
#without replacement

sam=pop.sample(100,random_state=2,replace=False)
sam

1799       400000
1064      8900000
668       6700000
378      13000000
2285     13000000
          ...
1088    100000000
2224       166000
2083       200000
1367       250000
2247     25000000
Name: AmountInUSD, Length: 100, dtype: int64

In [76]:
print('sam_mean',sam.mean())
print('sam_max',sam.max())
print('sam_min',sam.min())

sam_mean 11903637.68
sam_max 260000000
sam_min 16000

In [77]:
#with replacement

sam=pop.sample(100,random_state=4,replace=True)
sam

1852      220000
271     10000000
699       150000
1158     1000000
575      3000000
          ...
877     30000000
2043     3000000
928        30000
2360    56000000
1218      330000
Name: AmountInUSD, Length: 100, dtype: int64

In [78]:
print('sam_mean',sam.mean())
print('sam_max',sam.max())
print('sam_min',sam.min())

sam_mean 9868470.0
sam_max 100000000
sam_min 16000

### Data preprocessing

In [216]:
path="C:/Users/SALMAN MEMON/Desktop/funding.csv"
data=pd.read_csv(path,sep=',')

In [217]:
data.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN

In [219]:
data=data[['CityLocation','AmountInUSD']].dropna()

In [172]:
pd.to_numeric(amount.str.replace(',',''))

0       1300000
3        500000
4        850000
5       1000000
6       2600000
         ...
2195    6000000
2196    3500000
2198     400000
2199     500000
2200    8000000
Name: AmountInUSD, Length: 1390, dtype: int64

In [220]:
city=data['CityLocation']
def f1(s):
    return s.split('/')[0].strip()

In [221]:
city=city.apply(f1)

In [222]:
city.replace('New Delhi','Delhi',inplace=True)
city.replace('bangalore','Bangalore',inplace=True)

In [229]:
amount=pd.read_csv(path,sep=',')['AmountInUSD']

In [231]:
pd.to_numeric(amount.str.replace(',',''))

0       1300000.0
1             NaN
2             NaN
3        500000.0
4        850000.0
          ...
2367    4500000.0
2368     825000.0
2369    1500000.0
2370          NaN
2371     140000.0
Name: AmountInUSD, Length: 2372, dtype: float64

### stratified sampling

### cluster sampling